<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<th:block th:fragment="_menu">
    <div class="w3-bar w3-blue-gray w3-opacity">
        <th:block sec:authorize="!isAuthenticated()">
            <a class="w3-bar-item w3-button w3-hover-black" href="/">Home</a>
            <a class="w3-bar-item w3-button w3-hover-black" href="/login">Login</a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a class="w3-bar-item w3-button w3-hover-black" href="/">Home</a>
            <a class="w3-bar-item w3-button w3-hover-black" href="/users/list">DB</a>
            <a class="w3-bar-item w3-button w3-hover-black" href="/logout">Logout</a>
        </th:block>
    </div>
</th:block>
</body>
</html>