<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRM - рассылка</title>
    <!--TODO переделать! все скрипты тащить из webjar-->
    <!--<th:block th:replace="fragments/htmlFragments::header"></th:block>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"-->
    <!--integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"-->
    <!--crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!--из локальной коппии, так как конфигурация редактора кастомная-->
    <script src="/ckeditor/ckeditor.js"></script>

    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>-->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

    <!--<script type="text/javascript" th:src="@{/js/mailing.js}"></script>-->
    <script type="text/javascript" src="/js/mailing.js"></script>
    <link rel="stylesheet" href="/css/mailing.css"/>

    <script th:src="@{/webjars/bootstrap/4.1.2/js/bootstrap.bundle.js}"></script>

</head>
<body>

<header>
    <div class="container-fluid" id="header">
        <!--Панель навигации. Убрана, тк не работает, нет нужных полей у некоторых объектов, что обрушивает Thymeleaf-->
        <!--<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>-->
    </div>
</header>
<section>
    <div class="container-fluid" id="menu-block">
        <div class="row flex-nowrap">
            <div class="col-lg-auto col-md-auto col-sm-auto">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm mr-2" role="group" id="message-type-button-group">
                        <button type="button" class="btn btn-info" id="email">Send via e-mail</button>
                        <button type="button" class="btn btn-secondary" id="sms">Send via sms</button>
                        <button type="button" class="btn btn-secondary" id="vk">Send to vk</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-light bg-info" id="date-addon">Date&Time</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Date"
                           aria-describedby="date-addon" name="messageSendingTime" id="messageSendingTime">
                </div>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto">
                <button class="btn btn-warning btn-sm" id="mailingStart" onclick="sendMessages(0)">Send later</button>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto">
                <button class="btn btn-success btn-sm" id="mailingNow" onclick="sendMessages(1)">Send now</button>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="editor-block">
        <div class="row">
            <div class="col-xs-9 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <!--Блок редактора CKEditor-->
                <label for="editor">Editor</label>
                <textarea id="editor" name="editor">
                    Put your text here
                </textarea>
            </div>
            <div class="col-xs-3 col-sm-12 col-md-12 col-lg-12 col-xl-4 green-border-focus">
                <!--Блок адресов-->
                <div class="form-group">
                    <label for="addresses-area" id="addresses-label">Enter the recipients email address here:</label>
                    <textarea class="form-control text-lowercase" id="addresses-area" rows="12"
                              style="font-size: 10pt"></textarea>
                    <span class="badge badge-success" id="file-info"></span>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container" id="address-block">-->
    <!--<div class="row">-->

    <!--</div>-->
    <!--</div>-->
</section>

<footer>
    <div class="container-fluid" id="footer">
    </div>
</footer>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Краткая информация о редакторе</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ключевые слова заключены в знаки процента <b>%</b></p>
                <p>При отправке сообщения они будут заменены на соответсвующие им значения<br>
                    Например: <b>%fullName%</b> будет заменен на имя и фамилию клиента.</p>
                <p>Поддерживаемые ключевые слова:<br>
                    <b>%fullName% - Фамилия и имя клиента</b><br>
                    <b>%bodyText% - Кастомный текст.</b><br>
                <p>При отправке сообщения будет отображено окно для ввода этого текста.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>